<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 注册时间格式转换器
        -->
    <bean id="format" class="java.text.SimpleDateFormat">
        <constructor-arg>
            <!-- 时间的格式样式 -->
            <value>yyyy-MM-dd</value>
        </constructor-arg>
    </bean>

    <!-- 注册bean对象
        new SimpleDateFormat("yyyy-MM-dd").parse("2017-12-12");
    -->
    <bean id="boy" class="com.wtu.spring.di.set.Boy">
        <property name="birthday">
            <bean factory-bean="format" factory-method="parse">
                <constructor-arg>
                    <value>2017-12-12</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
</beans>



