<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="boyId" class="com.wtu.spring.ioc.type1.Boy">
		<property name="id" value="001"></property>
		<property name="name" value="狗剩"></property>
		<property name="salary" value="8000"></property>
	</bean>	

	<!-- 在一个xml文件中, id不能有相同的 -->
	<bean id="girlId" class="com.wtu.spring.ioc.type1.Girl">
		<property name="id" value="002"></property>
		<property name="name" value="翠花"></property>
		<property name="salary" value="7500"></property>
	</bean>
</beans>



